@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
/* Variables */
body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #d6612b 38%, #00d4ff 100%);
}

.App {
  text-align: center;
}

h1, .tipo h3, .Habilidades h3 {
  margin: 0;
}

.contenedor,
.cartaHead div,
.cartaBody,
.cabecera {
  align-items: center;
  align-content: center;
}

.cabecera {
  width: 80%;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  border: 0px solid #000000;
  border-radius: 28px 28px 28px 28px;
  font-family: Pokemon;
  color: yellow;
  text-shadow: #00489a 3px 0px 0px, #00489a 2.83487px 0.981584px 0px, #00489a 2.35766px 1.85511px 0px, #00489a 1.62091px 2.52441px 0px, #00489a 0.705713px 2.91581px 0px, #00489a -0.287171px 2.98622px 0px, #00489a -1.24844px 2.72789px 0px, #00489a -2.07227px 2.16926px 0px, #00489a -2.66798px 1.37182px 0px, #00489a -2.96998px 0.42336px 0px, #00489a -2.94502px -0.571704px 0px, #00489a -2.59586px -1.50383px 0px, #00489a -1.96093px -2.27041px 0px, #00489a -1.11013px -2.78704px 0px, #00489a -0.137119px -2.99686px 0px, #00489a 0.850987px -2.87677px 0px, #00489a 1.74541px -2.43999px 0px, #00489a 2.44769px -1.73459px 0px, #00489a 2.88051px -0.838247px 0px;
  font-size: 28px;
}

.contenedor {
  width: 80%;
  margin-top: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto 0 auto;
  margin-top: 15px;
}

.cartas {
  border: 0px solid #000000;
  background-color: #D6C169;
  border-radius: 28px 28px 28px 28px;
  border: solid 1px black;
}

.carta {
  background: #f0ff55;
  background: radial-gradient(circle, #f0ff55 0%, #ff810b 100%);
  z-index: 80;
  max-width: 90vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.carta * {
  font-size: small;
  text-align: left;
}

.carta img {
  background-color: #F2F2F270;
  height: 120px;
  width: 120px;
  border: solid black 1px;
}

/* Boton Carta */
.buttonCard, .cerrarMapa {
  box-shadow: inset 0px 1px 16px 0px #f9eca0;
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911;
  border-radius: 6px;
  border: 1px solid #e65f44;
  display: inline-block;
  cursor: pointer;
  color: #c92200;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ebd549;
  text-align: center;
}

.buttonCard:hover, .cerrarMapa {
  background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color: #f2ab1e;
}

.buttonCard:active, .cerrarMapa {
  position: relative;
  top: 1px;
}

.cerrarMapa {
  float: right;
  position: relative;
  z-index: 99 !important;
  height: 30px;
  width: 30px;
}

.cartaHead {
  margin-top: 10px;
  margin-bottom: 3px;
}
.cartaHead div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartaHead div .namePokemon {
  font-size: medium;
  align-content: center;
}
.cartaHead div .number {
  font-size: medium;
}

.cartaBody {
  width: 90%;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.contentHT {
  width: 90%;
  margin: 0 auto 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.divHabilidades {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: start;
  grid-column-gap: 5px;
}

.divPuntos {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.divEstadisticas {
  display: flex;
  flex-direction: column-reverse;
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .contenedor {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
  }

  .carta {
    background: #f0ff55;
    background: radial-gradient(circle, #f0ff55 0%, #ff810b 100%);
    z-index: 80;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  .carta * {
    font-size: large;
  }

  .carta img {
    background-color: #F2F2F270;
    height: 150px;
    width: 150px;
    border: solid black 1px;
  }

  .cerrarMapa {
    float: right;
    position: relative;
    color: black;
    z-index: 99 !important;
    text-align: center;
  }

  .cartaHead {
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .cartaHead div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cartaHead div .namePokemon {
    font-size: 35px;
  }
  .cartaHead div .number {
    font-size: 35px;
  }

  .cartaBody {
    width: 90%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .contentHT {
    width: 90%;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .divHabilidades {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
  }

  .divPuntos {
    width: 95%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .divEstadisticas {
    display: flex;
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=App.css.map */
